<% @page_title = "Picture : #{@picture.title}" %>

<h2><%= @picture.title %></h2>

<div class="picture">
  <%= image_tag(@picture.public_filename) %>

  <%= content_tag :p, @picture.description if @picture.description.size > 0 %>
  <%= content_tag :p, (tag_link @picture.tag_list) if @picture.tag_list.size > 0 %>
</div>
<div class="cleaner"></div>