  <div class="photo">
  <%= link_to image_tag(gallery.public_filename(:thumb)),
              gallery_url(gallery), :style => 'display:block;' %>
  <p><%=h "#{gallery.name}" %></span><br />
  <%=h "(#{gallery.pictures.enable_size} pictures)" %>
  </p>
  </div>
