<% @page_title = 'List of Gallery'  %>

  <div class="gallery">
  <% @galleries.each_slice(4) do |sub_galleries| %>
      <%= render :partial => sub_galleries %>
  <% end %>
  </div>
  <div class="cleaner"></div>

<%= will_paginate @galleries %>

<% unless @tags.empty? %>
  <h2>Tags</h2>

  <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :controller => "tags", :action => "show", :id => tag.name }, :class => css_class %>
  <% end %>
<% end %>
